/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

.question {
    margin-bottom: 20px;
}

.question label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #555;
}

.options {
    margin-left: 20px;
}

input[type="text"], textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 5px;
}

button {
    width: 100%;
    padding: 15px;
    background-color: #4285F4;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #357ae8;
}

/* Barra de Progresso */
.progress-bar {
    width: 100%;
    background-color: #e0e0e0;
    border-radius: 8px;
    margin-bottom: 20px;
}

.progress {
    width: 0;
    height: 10px;
    background-color: #4285F4;
    border-radius: 8px;
}
.correct-answer {
    display: none;
}

.question.correct .correct-answer {
    display: block;
    color: green;
    font-weight: bold;
}
